body {
  background-color: #141414;
  color: #FCEEED;
}

body {
  font-family: "Bebas Neue", cursive;
}

h1 {
  font-size: 48px;
  text-align: center;
}

body {
  background-color: #141414;
  color: #FCEEED;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.calculator .calculator__body {
  width: 300px;
  height: 400px;
  background-color: #857E7D;
  margin-top: 50px;
  display: grid;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 2px 1px rgba(252, 238, 237, 0.2);
}
.calculator .calculator__body .calculator__display {
  height: 200px;
  background-color: #141414;
  border: 1px solid black;
  display: grid;
  justify-content: end;
  align-items: end;
  padding: 10px;
  border-radius: 10px;
  justify-items: center;
}
.calculator .calculator__body .calculator__display .calculator__input {
  font-size: 28px;
}
.calculator .calculator__body .calculator__display .calculator__output {
  font-size: 24px;
}
.calculator .calculator__body .calculator__btn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.calculator .calculator__body .calculator__btn > button {
  font-size: 18px;
  background-color: #FCEEED;
  color: #141414;
  font-family: "Bebas Neue", cursive;
  border-radius: 10px;
}
.calculator .calculator__body .calculator__btn > button:first-child {
  grid-row: 1/1;
  grid-column: 5/6;
}
.calculator .calculator__body .calculator__btn > button:nth-child(2) {
  grid-row: 1/1;
  grid-column: 4/5;
}
.calculator .calculator__body .calculator__btn > button:nth-child(3) {
  grid-row: 2/2;
  grid-column: 4/5;
}
.calculator .calculator__body .calculator__btn > button:nth-child(4) {
  grid-row: 2/2;
  grid-column: 5/6;
}
.calculator .calculator__body .calculator__btn > button:nth-child(5) {
  grid-row: 3/3;
  grid-column: 4/5;
}
.calculator .calculator__body .calculator__btn > button:nth-child(6) {
  grid-row: 3/3;
  grid-column: 5/6;
}
.calculator .calculator__body .calculator__btn > button:nth-child(7) {
  grid-row: 4/4;
  grid-column: 4/6;
}
.calculator .calculator__body .calculator__btn > button:last-child {
  grid-row: 4/4;
  grid-column: 2/4;
}