@import "assets/styles/_typography";
@import "assets/styles/variables";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  .calculator__body{
    width: 300px;
    height: 400px;
    background-color: $primary-color;
    margin-top: 50px;
    display: grid;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px 1px rgba(252, 238, 237, .2);
  
  .calculator__output{
    height: 200px;
    background-color: $tertiary-color;
    border: 1px solid black;
    display: grid;
    justify-content: end;
    align-items: end;
    padding: 10px;
    border-radius: 10px;
  }
  
  .calculator__btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    > button{
      font-size: 18px;
      background-color: $secondary-color;
      //border: 1px solid black;
      color: $tertiary-color;
      font-family: $primary-font;
      border-radius: 10px;
    
      &:first-child{
        grid-row: 1 / 1;
        grid-column: 4 / 6;
      }
      &:nth-child(2){
        grid-row: 2 / 2;
        grid-column: 4 / 5;
      }
      &:nth-child(3){
        grid-row: 2 / 2;
        grid-column: 5 / 6;
      }
      &:nth-child(4){
        grid-row: 3 / 3;
        grid-column: 4 / 5;
      }
      &:nth-child(5){
        grid-row: 3 / 3;
        grid-column: 5 / 6;
      }
      &:nth-child(6){
        grid-row: 4 / 4;
        grid-column: 4 / 6;
      }
      &:last-child{
        grid-row: 4 / 4;
        grid-column: 2 / 4;
      }

    }
    }
  
  }

}
